input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  p.errorMsg {
    color: red;
    font-size: 0.9em;
    margin: 0;
  }
}

#btnSubmit {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #e91e63; /* Rose pastel moyen */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #d81b60; /* Rose pastel plus foncé */
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(233, 30, 99, 0.3); /* Effet de focus avec une ombre rose */
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
