<section class="quiz-container">
  <h1 *ngIf="currentUsername !== null" >Bonjour {{ currentUsername | titlecase }}</h1>
  <div class="question" *ngFor="let q of questions; let i = index">
    <app-question
      [question]="q"
      [questionNumber]="i + 1"
      [msgUserAnswers]="msgUserAnswers"
      (selectAnswerEvent)="selectAnswer(q, $event)"
    ></app-question>
  </div>

  <Button
    id="showResult"
    (click)="showResult = true"
  >
    Show Result
  </Button>

  <div class="errorMsg" *ngIf="msgError">
    <p *ngFor="let line of msgError.split('\\n')">
      {{ line }}
    </p>
  </div>

</section>

<app-popup *ngIf="showResult" >
  <p>Etes-vous sûr de vouloir soumettre vos réponses ?</p>
  <div class="popup-buttons">
    <button (click)="calculateScore">Oui</button>
    <button class="popup-buttons-no" (click)="showResult = false">Non</button>
  </div>
</app-popup>
