<section class="quiz-container">
  <h1 *ngIf="currentUsername !== null" >Bonjour {{ currentUsername | titlecase }}</h1>
  <div class="question" *ngFor="let q of questions; let i = index">
    <app-question
      [question]="q"
      [questionNumber]="i + 1"
      [msgUserAnswers]="msgUserAnswers"
      (selectAnswerEvent)="selectAnswer(q, $event)"
    ></app-question>
  </div>

  <Button
    id="showResult"
    (click)="calculateScore"
  >
    Show Result
  </Button>

  <div class="errorMsg" *ngIf="msgError">
    <p *ngFor="let line of msgError.split('\\n')">
      {{ line }}
    </p>
  </div>

</section>
