.quiz-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background: #fef0f5; /* Rose pastel très doux */
  border: 1px solid #f4c6d7; /* Bordure rose pastel clair */
  transition: background 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

}

#showResult {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #e91e63; /* Rose pastel moyen */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #d81b60; /* Rose pastel plus foncé */
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(233, 30, 99, 0.3); /* Effet de focus avec une ombre rose */
  }

  &:active {
    background-color: #c2185b; /* Rose pastel encore plus foncé pour l'effet actif */
    transform: scale(1);
  }
}

.errorMsg {
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #ec407a  ; /* Rouge */
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;

  p {
    margin: .5em;
  }

}
@media (max-width: 768px) {
  .quiz-container {
    padding: 15px;
  }

  .question h2 {
    font-size: 18px;
  }

  li {
    font-size: 14px;
  }
}
